extends layout

block content
  h1= title
  p I am currently reading a novel in wattpad.
  button(type="button",class="btn btn-success", onclick="doBump()") Press Me
  div(id="bump") Bump the Count
  script.
   let count=0
   let bump=1
   function doBump(){
    count=count+bump;
    bump=bump+1;
    document.getElementById('bump').innerHTML=`Count ${count} with Bump ${bump}`        
   }

